<a href="https://colab.research.google.com/github/afif53/Praktik-Dasar-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys

def printElements(s, info):
    print(info)
    if len(s) == 0:
        print("Himpunan kosong\n")
        # sys.exit(1) # Menghilangkan sys.exit(1) agar kode dapat dieksekusi sampai selesai
    for e in s:
        print(str(e) + ", ", end='')
    print("\n")

# membuat himpunan
s = set([11, 22, 33, 44, 55])
printElements(s, "Elemen awal:")

# menambah anggota/elemen baru
# menggunakan metode add()
s.add(66)
s.add(77)
printElements(s, "Setelah pemanggilan add():")

# menambah anggota/elemen baru
# menggunakan metode update()
s.update([88, 99])
printElements(s, "Setelah pemanggilan update():")

# menghapus elemen dengan nilai 44
# Catatan: Jika elemen tidak ada, .remove() akan memicu KeyError.
# Gunakan .discard() jika Anda tidak ingin error.
s.remove(44)
printElements(s, "Setelah pemanggilan remove():")

# menghapus semua elemen
s.clear()
printElements(s, "Setelah pemanggilan clear():")

Elemen awal:
33, 11, 44, 22, 55,

Setelah pemanggilan add():
33, 66, 11, 44, 77, 22, 55,

Setelah pemanggilan update():
33, 66, 99, 11, 44, 77, 22, 55, 88,

Setelah pemanggilan remove():
33, 66, 99, 11, 77, 22, 55, 88,

Setelah pemanggilan clear():
Himpunan kosong

In [2]:
# Type set mendukung operasi-operasi himpunan seperti:

x = set([1, 2, 3])
y = set([3, 4])

# 1. Union (Gabungan)
# Operator: |
a = x | y
print('Operasi union:')
print(a) # Output: {1, 2, 3, 4}

# 2. Intersection (Irisan)
# Operator: &
b = x & y
print('Operasi intersection:')
print(b) # Output: {3}

# 3. Difference (Selisih)
# Operator: -
# x - y: Elemen di x yang TIDAK ada di y
c = x - y
print('Operasi difference:')
print(c) # Output: {1, 2}

# 4. Symmetric Difference (Selisih Simetris)
# Operator: ^
# Elemen yang ada di x atau y, tapi TIDAK di keduanya (eksklusif)
d = x ^ y
print('Operasi symmetric difference:')
print(d) # Output: {1, 2, 4}

Operasi union:
{1, 2, 3, 4}
Operasi intersection:
{3}
Operasi difference:
{1, 2}
Operasi symmetric difference:
{1, 2, 4}

In [9]:
fs=frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [10]:
# frozenset tidak memiliki metode add()
fs = frozenset([1, 2, 3])
print(fs)
fs.add(4)

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'add'

In [11]:
# frozenset tidak memiliki metode update()
fs = frozenset([1, 2, 3])
print(fs)
fs.update([4, 5])

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'update'

In [12]:
# frozenset tidak memiliki metode remove()
fs = frozenset([1, 2, 3])
print(fs)
fs.remove(3)

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'remove'

In [13]:
# frozenset tidak memiliki metode clear()
fs = frozenset([1, 2, 3])
print(fs)
fs.clear()

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'clear'

In [14]:
str = 'Pemrograman Python'
versi = 3

if versi == 3:
    print(str + ' 3')
else:
    print(str)

Pemrograman Python 3

In [19]:
import sys
versi = sys.version

if versi[:1] == '3':
    print('Bahasa\t\t: Python 3')
    print('Versi Python\t: ' + versi[:5])

Bahasa		: Python 3
Versi Python	: 3.12.

In [21]:
def main():
    x = float(input('Masukkan bilangan pertama\t:'))
    y = float(input('Masukkan bilangan kedua\t:'))
    op = input('Masukkan operator (+,-,*,/)\t: ')

    if op == '+':
        print('%.2f + %.2f = %.2f' % (x, y, x+y))
    elif op == '-':
        print('%.2f - %.2f = %.2f' % (x, y, x-y))
    elif op == '*':
        print('%.2f * %.2f = %.2f' % (x, y, x*y))
    elif op == '/':
        # Asumsi y != 0 untuk menghindari ZeroDivisionError
        print('%.2f / %.2f = %.2f' % (x, y, x/y))
    else:
        print('ERROR: Gunakan operator +,-,*,/')

if __name__ == '__main__':
    main()

Masukkan bilangan pertama	:1034
Masukkan bilangan kedua	:273
Masukkan operator (+,-,*,/)	: *
1034.00 * 273.00 = 282282.00

In [22]:
# Contoh program
a = 'Python'
# menelusuri semua karakter dalam string:
for c in a:
    print(c, end='')

Python

In [23]:
b = ['Python', 'Ruby', 'Perl', 'PHP']
# menelusuri semua karakter di dalam list:
for e in b:
    print(e)

Python
Ruby
Perl
PHP

In [24]:
c = {'one':'satu', 'two':'dua', 'three':'tiga'}
# menelusuri semua elemen di dalam dictionary:
for key in c:
    print('Arti "%s" adalah "%s"' % (key, c[key]))

Arti "one" adalah "satu"
Arti "two" adalah "dua"
Arti "three" adalah "tiga"

In [25]:
for i in range(6):
    print(i, end='')

012345

In [26]:
# range(10, 22, 2) artinya dari 10 sampai sebelum 22, langkah 2
for i in range(10, 22, 2):
    print("%d " % i, end='')

10 12 14 16 18 20